<header>
        <a href="/"> LOGO </a>
        
        <% if(locals.user){%>
            <nav>
                <ul>
                    <li>
                        <a href="/users/user_home">
                            <%= user.name %> 
                        </a>
                    </li>
                    <li>
                        <a href="/users/profile/<%= locals.user._id %>">
                            Profile 
                        </a>
                    </li>
                    <li>
                        <a href="">
                            About 
                        </a>
                    </li>
                    <li>
                        <a href="/users/logout">
                            Log Out 
                        </a>
                    </li>
                </ul>
            </nav>
        <%} %>   
</header>

