<link rel="stylesheet" href="/css/signup.css">

<div id="sign-up-container">
    <h2> Register with E-mail </h2 >

    <form action="/users/create" id="sign-up-form" method="POST">
        <input type="text" name="username" id="name" placeholder="Username" required>
        <input type="email" name="email" id="email" placeholder="E-mail" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>
</div>
