<link rel="stylesheet" href="/css/signup.css">

<div id="sign-up-container">
    <h2> Register with E-mail </h2 >

    <form action="" id="sign-up-form">
        <input type="text" name="username" id="" placeholder="Username" required>
        <input type="email" name="email" id="" placeholder="E-mail" required>
        <input type="password" name="password" id="" placeholder="Password" required>
        <input type="password" name="confirm-password" id="" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>
</div>
