<link rel="stylesheet" href="/css/home.css">

<title>
    <%= title %>
</title>

<div id="reg-form">    
        <%- include('_signin'); %>
        <div id="reg-form-partition"></div>
        <%- include('_signup'); %>
</div>