<link rel="stylesheet" href="/css/user_home.css">

<title>
    <%= title %>
</title>

<main>
    <section id="left-panel">
        <form action="/posts/create" method="POST" id="new-post-form">
            <input type="text" name="content" id="newPost" placeholder="What's happening?">
        
            <button type="submit">
                Post
            </button>
        </form>
    </section>

    <div class="partition"></div>

    <section id="center-panel">
        <div id="center-panel-div">
            <ul>
                <% for( post of all_posts) {%>
                    <%- include('_post') -%>    
                                                        <hr>
                <%}%>
            </ul>
        </div>
    </section>

    <div class="partition"></div>

    <section id="right-panel">
        <div id="right-panel-div">
            <ul id="users-list">
                <% for(user of all_users_list){%>
                    <li>
                        <a href="/users/profile/<%= user.id %>">
                            <%= user.name %>
                        </a>
                    </li>    
                <%}%>
            </ul>
        </div>
    </section>
</main>
