<title>
    <%= title %>
</title>

<main>
    <section id="left-side-panel">
        
    </section>

    <section id="all-posts-container">

    </section>

    <section id="your-friends">

    </section>
</main>