body {
  padding: 1%;
  margin: 0;
  color: white;
  background-image: linear-gradient(to left, #79797a, #363636, #080808); }

button[type="submit"], input[type="submit"] {
  cursor: pointer;
  font-weight: 300;
  font-size: .9em;
  padding: 5px;
  border: none;
  border-radius: 1em;
  min-width: 8em; }
  button[type="submit"]:hover, input[type="submit"]:hover {
    transform: scale(1.1); }

input[type="text"], input[type="email"] {
  border: none;
  height: 3em;
  padding: 0px 5px;
  border-radius: 1em;
  margin: 5px 0px 10px; }
  input[type="text"]:focus, input[type="email"]:focus {
    outline: none; }
