* {
  box-sizing: border-box; }

main {
  min-height: 100vh;
  margin-bottom: 25px;
  background-image: linear-gradient(to bottom, #9b9999, #424141);
  display: flex;
  padding: 1%;
  border-radius: 2em; }
  main section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  main .partition {
    border: 2px solid grey;
    margin: 0px 3px; }
  main ul {
    padding: 0; }
    main ul li {
      list-style-type: none;
      padding: 3px; }

#new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 70%; }
  #new-post-form #newPost {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1em;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    width: 18em;
    height: 6em;
    margin-bottom: 20px; }
    #new-post-form #newPost::placeholder {
      color: white;
      font-size: 1.3em;
      font-weight: bold; }
  #new-post-form button[type="submit"] {
    border-radius: 1em;
    width: 30%;
    font-size: 1.2em; }

#center-panel-div {
  max-height: 99%;
  width: 100%;
  overflow-y: hidden; }
  #center-panel-div #content-container {
    min-height: 50px;
    padding-left: 20px; }
  #center-panel-div #reactions-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #center-panel-div #reactions-container span:hover {
      transform: scale(1.2); }
    #center-panel-div #reactions-container a {
      color: white;
      font-size: 1.3em; }
