* {
  box-sizing: border-box; }

main {
  min-height: 100vh;
  margin-bottom: 25px;
  background-image: linear-gradient(to bottom, #9b9999, #424141);
  display: flex;
  padding: 1%;
  border-radius: 1em; }
  main #right-panel {
    width: 20%; }
  main #left-panel {
    width: 30%; }
  main #center-panel {
    width: 50%; }
  main #left-panel, main #right-panel, main #center-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  main .partition {
    border: 2px solid grey;
    margin: 0px 3px; }
  main ul {
    padding: 0; }
    main ul li {
      list-style-type: none;
      padding: 3px; }

#new-post-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80%;
  width: 28%; }
  #new-post-form input[type="text"] {
    width: 100%;
    min-height: 8em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin: 3px 0px 8px 0px; }
    #new-post-form input[type="text"]::placeholder {
      color: white; }

#center-panel-div {
  flex-grow: 2;
  max-height: 99%;
  width: 100%;
  overflow-y: hidden; }
  #center-panel-div #content-container {
    min-height: 50px;
    padding-left: 20px; }
  #center-panel-div #reactions-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #center-panel-div #reactions-container span:hover {
      transform: scale(1.2); }
    #center-panel-div #reactions-container a {
      color: white;
      font-size: 1.5em; }
  #center-panel-div #comments-reactions-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #center-panel-div #comments-reactions-container span:hover {
      transform: scale(1.2); }
    #center-panel-div #comments-reactions-container a {
      color: white;
      font-size: 1.1em; }

#new-comment-div #comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px; }
  #new-comment-div #comment-form input[type="text"] {
    width: 70%;
    margin: 0px 10px; }

#comment-details {
  padding: 0px 0px 0px 50px;
  display: flex;
  justify-content: space-between; }
  #comment-details small {
    margin: 0px 30px 0px 0px; }
  #comment-details #comments-reactions-container {
    width: 30%;
    margin-right: 60px; }
